<div class="grid">
    <div class="col-12">
      <div class="card px-6 py-6">
        <h3>{{ modulo }}</h3>
  
        <p-toast></p-toast>
        <p-toolbar styleClass="mb-4">
          <ng-template pTemplate="left">
            <div class="my-2">
              <button
                pButton
                pRipple
                label="Nuevo"
                icon="pi pi-plus"
                class="p-button-success mr-2"
                (click)="openDialog(false)"
              ></button>
       
            </div>
          </ng-template>
        </p-toolbar>
  
        <p-table
        [value]="data"
        [paginator]="true"
        [rows]="10"
        [rowsPerPageOptions]="[10, 20, 30]"
        [dataKey]="'id'"
        [responsiveLayout]="'scroll'"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">
              </th>
              <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
              <th>Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>
              </td>
              <td *ngFor="let col of cols">
                <ng-container *ngIf="!isNestedField(item, col.field)">
                  {{ item[col.field] }}
                </ng-container>
                <ng-container *ngIf="isNestedField(item, col.field)">
                  {{ getNestedFieldValue(item, col.field) }}
                </ng-container>
              </td>
              <td>
                <div class="flex">
                  <button
                    pButton
                    pRipple
                    icon="pi pi-pencil"
                    class="p-button-rounded p-button-success mr-2"
                    (click)="openDialog(true, item)"
                  ></button>
                  <button
                    pButton
                    pRipple
                    [icon]="item.estatus ? 'pi pi-trash' : 'pi pi-undo'"
                    [class.p-button-danger]="item.estatus"
                    [class.p-button-success]="!item.estatus"
                    class="p-button-rounded"
                    (click)="toggleItemEstatus(item)"
                  ></button>
                  <button
                  pButton
                  pRipple
                  icon="pi pi-times"
                  class="p-button-rounded p-button-danger"
                  (click)="deleteItem(item)"
                ></button>
                
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  
  
  <!-- Diálogo para Agregar/Editar -->
  <p-dialog
    [(visible)]="itemDialog"
    header="{{ currentItem ? 'Editar' : 'Nuevo' }} {{ modulo }}"
    [modal]="true"
    class="p-fluid"
    [style]="{ width: '450px' }"
  >
    <form [formGroup]="form">
      <div *ngFor="let field of dialogFields" class="field">
        <label [for]="field.key">{{ field.label }}</label>
  
        <input
          *ngIf="field.type === 'text'"
          id="{{ field.key }}"
          type="text"
          pInputText
          formControlName="{{ field.key }}"
        />
  
        <p-inputNumber
          *ngIf="field.type === 'number'"
          id="{{ field.key }}"
          formControlName="{{ field.key }}"
          [mode]="'decimal'"
        ></p-inputNumber>
  
        <p-dropdown
          *ngIf="field.type === 'dropdown'"
          id="{{ field.key }}"
          [options]="field.options"
          formControlName="{{ field.key }}"
          [placeholder]="'Seleccionar...'"
        ></p-dropdown>
  
        <!-- Validaciones -->
        <div *ngIf="submitted && form.get(field.key)?.invalid" class="error-message">
          {{ field.label }} es obligatorio.
        </div>
      </div>
    </form>
  
    <p-footer>
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-text"
        (click)="hideDialog()"
      ></button>
      <button
        pButton
        type="button"
        label="Guardar"
        icon="pi pi-check"
        class="p-button-text"
        (click)="saveItem()"
        [disabled]="form.invalid"
      ></button>
    </p-footer>
  </p-dialog>

  <p-confirmDialog header="Confirmación" icon="pi pi-exclamation-triangle"></p-confirmDialog>